force-app/main/default/flows/ColumnsChangeHistory_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>exec_InsertChangeHistories</name>
        <label>項目変更履歴保存</label>
        <locationX>50</locationX>
        <locationY>1343</locationY>
        <actionName>ColumnsChangeHistoryInsertAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollections</name>
            <value>
                <elementReference>columnsChangeHistories</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>assignment_changehistory_name</name>
        <label>変更履歴作成_取引先名</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_name.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_name.ColumnName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>取引先名</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_name.OldValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_name.NewValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_name.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_name.UpdatedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>push_changehistory_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignment_changehistory_rating</name>
        <label>変更履歴作成_評価</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_rating.RecordId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_rating.ColumnName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>評価</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_rating.OldValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_rating.NewValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Rating</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_rating.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>columnsChangeHistory_rating.UpdatedDateTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>push_changehistory_rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>push_changehistory_name</name>
        <label>変更履歴追加_取引先名</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>columnsChangeHistories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>columnsChangeHistory_name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_changed_rating</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>push_changehistory_rating</name>
        <label>変更履歴追加_評価</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>columnsChangeHistories</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>columnsChangeHistory_rating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>is_changed_columns</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>is_changed_columns</name>
        <label>追跡項目が変更されているかどうか</label>
        <locationX>182</locationX>
        <locationY>1223</locationY>
        <defaultConnectorLabel>変更されていない</defaultConnectorLabel>
        <rules>
            <name>changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>columnsChangeHistories</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>exec_InsertChangeHistories</targetReference>
            </connector>
            <label>変更されている</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_changed_name</name>
        <label>取引先名の変更有無</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>is_changed_rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未変更</defaultConnectorLabel>
        <rules>
            <name>changed_name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_changehistory_name</targetReference>
            </connector>
            <label>変更</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_changed_rating</name>
        <label>評価の変更有無</label>
        <locationX>182</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>is_changed_columns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>未変更</defaultConnectorLabel>
        <rules>
            <name>changed_rating</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rating</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Rating</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignment_changehistory_rating</targetReference>
            </connector>
            <label>変更</label>
        </rules>
    </decisions>
    <interviewLabel>取引先変更履歴 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>項目変更履歴_取引先</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_changed_name</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>columnsChangeHistories</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ColumnsChangeHistory__b</objectType>
    </variables>
    <variables>
        <name>columnsChangeHistory_name</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ColumnsChangeHistory__b</objectType>
    </variables>
    <variables>
        <name>columnsChangeHistory_rating</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ColumnsChangeHistory__b</objectType>
    </variables>
</Flow>
